<div class="loading" *ngIf="loading == true">Loading&#8230;</div>
<div class="container"  *ngIf="loading == false" >
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <ul class="list-unstyled" *ngIf="orders.length > 0" >
        <li class=" my-4 p-3 mb-2 bg-primary text-white">
          <h5 class="mt-0 mb-1">Order History</h5>
        </li>
        <li class=" p-4" *ngFor="let order of orders;" >
          <div class="row">
            <div class="col-md-2">
              {{ order.created_at | date }}
            </div>
            <div class="col-md-8">
                <ng-container *ngFor="let item of order.items; ">
                  {{ item.qty }} x {{ item.item }}(<small>{{ item.item_extras }}</small>)
                  <br/>
                </ng-container>
                <b>Total: AED {{ this.order.total }}</b>
            </div>
            <div>
              {{ order.state }}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
  